<% include ../partials/header.ejs %>
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <div class="row">
                <div class="col-lg-12">
                  <h3 class="page-header"><i class="fa fa fa-bars"></i> Items for Sale</h3>
                  <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                    <li><i class="fa fa-bars"></i>Items for Sale</li>
                  </ol>
                </div>
              </div>
              <!-- page start -->
              <div class="row">
                  <div class="col-lg-12">
                      <% if (user) { %>
                      <a class="btn btn-info btn-lg btn-block btn-add-sales-item" href="/saleItems/add">Add Item for Sale</a>
                      <% } %>
                      <section class="panel">
                          <table class="table table-striped table-advance table-hover">
                           <tbody>
                              <tr>
                                 <th><i class="icon_info"></i> Title</th>
                                 <th><i class="icon_calendar"></i> Date</th>
                                 <th><i class="icon_usd"></i> Price</th>
                                 <th><i class="icon_mobile"></i> Phone</th>
                                 <th><i class="icon_pin_alt"></i> Address</th>
                                 <th><i class="icon_profile"></i> Username</th>
                                 <th>View</th>
                                 <% if (user) { %>
                                 <th><i class="icon_cogs"></i> Action</th>
                                 <% } %>
                              </tr>
                              <% for (var i = 0; i < saleItems.length; i++) { %>
                              <tr>
                                 <td><%= saleItems[i].title %></td>
                                 <td>
                                    <%= moment(saleItems[i].date).format(shortDateFormat) %>
                                 </td>
                                 <td><% if (saleItems[i].price) { %>$ <%= saleItems[i].price %><% } %></td>
                                 <td><%= saleItems[i].phone %></td>
                                 <td><%= saleItems[i].address %></td>
                                 <td><%= saleItems[i].username %></td>
                                 <td><%= saleItems[i].view %></td>
                                 <% if (user) { %>
                                 <td>
                                 <div class="btn-group">
                                      <a class="btn btn-primary" href="/saleItems/<%= saleItems[i]._id %>">Edit</a>
                                      <a class="btn btn-danger trigger-item-delete" data-href="/saleItems/delete/<%= saleItems[i]._id %>">Delete</a>
                                 </div>
                                 </td>
                                 <% } %>
                              </tr>
                              <% } %>
                           </tbody>
                        </table>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
<% include ../partials/footer.ejs %>